
#page-title {
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;

    border: 1px solid black;
    background-color: lightskyblue
}

.user-in {
    margin-top: 1em;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 0.5em;
    width: 15em;
    transition: background-color 1s, width 1s, border-color 1s;
}


.user-in:hover, .user-in:focus {
    background-color: lightgray;
    width: 18em;
    border-color: black;
}

#method {
    transition: background-color 1s, border-color 1s;
}
#method:hover, #method:focus {
    width: 15em;
}