
.content {
    display: flex;
    justify-content: center;

    border: 1px solid black;
    background-color: lightskyblue
}

.user-in {
    margin-top: 1em;
    border: 1px solid darkgray;
    border-radius: 0.5em;
    width: 15em;
    transition: background-color 1s, width 1s;
}

.user-in:focus {
    background-color: lightgray;
    
}

.user-in:hover {
    background-color: lightblue;
    width: 20em;

}